/* @group Download */
#download_box {
  max-width: 350px;
  padding-top: 10px;
  color:$color-text-secondary;

  .tag {
    display:inline-block;
    @include dot();

    &.updated {
      background:$color-new;
    }
  }

  #filename {
    clear: both;
    padding-top: 18px;
    overflow: hidden;
    color: inherit;
    width:100%;
    @include ellipsis();
  }

  #clickable-zone {
    display: block;
    position: relative;
  }
}

#download_box {
  dl {
    display: block;
    width: 100%;
    overflow: hidden;
    border-top-width: 1px;
    margin-top: 35px;
    margin-bottom: 15px;
    border-color:$color-border-light;
  }
  dt {
    float: left;
    padding-top: 15px;
  }
  dd {
    display: block;
    padding-top: 15px;
    padding-left: percent(150px, 350px);
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-color:$color-border-light;

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

#download_box {
  #instructions {
    padding: 15px 0 10px 0;
    border-top-width: 1px;
    margin-bottom: 35px;
    margin-top:-15px;
    border-color:$color-border-light;
  }
  #instructions a {
    text-decoration: underline;
  }
  #download {
    display: block;
    padding-bottom: 16px;
    padding-top: 17px;
    border-width: 1px;
    border-color:$color-text;
    text-align:center;
    border-radius:2px;

    &:hover {
      background:$color-text;
      color:$color-bg;
    }
  }
  #download.with_arrow {
    padding-left: 10px;
    background: url(../images/system/download_xl.png) no-repeat 0 2px;
  }
}