.icon {
  @if $include_icons == false {
    font:0/0 a;
    color:transparent;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    vertical-align: middle;
    background-position: 50%;
    background-color: transparent;
    border: 0 none;
  }
}

a.icon {
  cursor: pointer;
}

/* loops the _icons object to make the icons */
@each $icon, $icon_obj in $icons {
  @include icon-type($icon);
}

/* Display default icon for all those kind of files */
.icon__list {
  &_ae,
  &_ase,
  &_fla,
  &_fnt,
  &_html,
  &_img,
  &_indd,
  &_lock,
  &_merlin,
  &_net,
  &_pages,
  &_pop,
  &_site,
  &_slide,
  &_snd,
  &_sql,
  &_swf,
  &_zip {
    @extend .icon__list_gen;
  }
}
/*.icon__list {
  &_ae,
  &_ai,
  &_ase,
  &_dmg,
  &_doc,
  &_eps,
  &_fla,
  &_fnt,
  &_gen,
  &_html,
  &_img,
  &_indd,
  &_key,
  &_lock,
  &_merlin,
  &_net,
  &_numbers,
  &_pages,
  &_pdf,
  &_pop,
  &_ppt,
  &_psd,
  &_site,
  &_slide,
  &_snd,
  &_sql,
  &_swf,
  &_txt,
  &_vid,
  &_xls,
  &_zip {
    @extend .icon__list_doc;
  }
}*/

.icon__grid {
  &_ae,
  &_ai,
  &_ase,
  &_dmg,
  &_doc,
  &_eps,
  &_fla,
  &_fnt,
  &_gen,
  &_html,
  &_img,
  &_indd,
  &_key,
  &_lock,
  &_merlin,
  &_net,
  &_numbers,
  &_pages,
  &_pdf,
  &_pop,
  &_ppt,
  &_psd,
  &_site,
  &_slide,
  &_snd,
  &_sql,
  &_swf,
  &_txt,
  &_vid,
  &_xls,
  &_zip {
    @extend .icon__grid_gen;
  }
}

.icon__grid {
  &_cut {
    @extend .icon__grid_dir;
  }
}

