.search {
  position:fixed;
  background:rgba($color-bg, 0.95);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display:none;
  z-index:$z-index__search;

  input {
    display: block;
    width: 100%;
    margin: 0 0 50px;
    border: 0 none;
    background: transparent;
    color: $color-text;
    font: 48px/1 $sans-serif;
    -webkit-appearance:none;
    outline: none;

    @include breakpoint(medium-and-down) {
      font-size:30px;
    }
  }

  .icon__close {
    position:fixed;
    top: $gutter;
    right: $gutter;
    z-index:$z-index__search + 1;
  }
}

.search__active {
  .search {
    display:block;
  }
}

.page,
.page.search__active {
  .search {
    display:none;
  }
}