.search {
  position:fixed;
  background:$color-bg;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display:none;
  z-index:$z-index__search;

  input {
    display: block;
    width: 100%;
    margin: 0 0 50px;
    border: 0 none;
    background: transparent;
    color: $color-text;
    font: 48px/1 $sans-serif;
    -webkit-appearance:none;
    outline: none;
  }
}

.search__active {
  .search {
    display:block;
  }
}