/* FOOTER */
#footer {
  border-top:1px solid $color-border;
  width:100%;
  overflow:hidden;

  a, span {
    padding-left: 5px; padding-right: 5px;
  }

  .copyright {
    float:left;
  }

  .updatedsince {
    float:right;

    @include breakpoint(medium-and-down) {
      display:none;
    }
  }
}

#footer {
  .updatedsince__sep {
    display: inline-block;
    width: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  a#footer-home, span.copyright__text {
    padding-right: 10px;
  }
}
#footer *:first-child {
  padding-left: 0;
}