/* @group Forms */

/* --------------------------------------------------------------
   FORMS
-------------------------------------------------------------- */

/* Form Container */
#content #lock {
  overflow: hidden;
  width: 360px;
  margin:0 auto;
  /*float: left;*/

  /* Form */
  form {
    overflow:hidden;
    padding-top: 5px;
  }
}

/* Form header */
#lock .login_header * {
  color:$color-text;
  font-size:3em;
}
#lock .login_header h2 {
  color:$color-text-secondary;
}


/* Form feedback */
#lock .login_feedback {
  padding: 19px 0 10px 10px;
  background-color: red;
  color:#FFF;
}
#lock .login_feedback b {
  color: inherit;
}

/* Fields */
#lock form input.field {
  width: 100%;
  padding:0 20px;
  font-size:1em;
  color: inherit;
  background-color: $color-border;
  border-radius: 2px;
  height:55px;
  line-height:55px;
}

/* Checkbox */
#lock form .checkbox {
  overflow: hidden;
  line-height: 14px;
}

#lock form .checkbox input {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

/* Spacing & Alignment */
#lock form input.field {
  margin: 20px 0 0 0;
}

#lock form .checkbox {
  margin: 10px 0 15px;
  margin-left: 95px;
}

/* Submit button */
.subButton {
  width: 100%;
  overflow: hidden;
}

.subButton input {
  width: 100%;
  display: block;
  color: #FFF;
  border-radius: 2px;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  background-color: #FFF;
  height:53px;
  line-height:53px;
  border-width:1px;
}
.subButton input:hover {
  background-color:#1A1A1A;
}

/* @end */