$height_bar: 70px;
$top_spacing: 25px;

.header {
  border-bottom-width:1px;
}

.header__logo,
.header__breadcrumb {
  overflow:hidden;
  padding:0 $gutter;
}

.header__logout {
  position:absolute;
  right:$gutter;
  top:$gutter - 5px;
}

/* LOGO */
#logo {
  padding-top: $gutter;

  a {
    font-size: 300%;
    &:hover { background-color: inherit; }
  }

}

/* BREADCRUMBTOOLS, FOOTER: Common */
.header__breadcrumb,
.footer {
  overflow: hidden;
  width: 100%;
}
.header__breadcrumb {
  min-height: $gutter;
}/*<-- when no tools, keep a space under the logo*/

#breadcrumb a,
#breadcrumb span,
.footer a,
.footer a,
.footer span {
  display: inline-block;
  padding: $top_spacing 0 0 0;
  height: $height_bar; /* 25+14 = 39*/
  /*color: inherit;*/
}

/* BREADCRUMBTOOLS */
.header__breadcrumb,
.header__breadcrumb * {
  white-space: nowrap;
}
.header__breadcrumb .slash { } /*<-- here you can replace the slash with a graphic*/

/* BREADCRUMBTOOLS: Breadcrumb */
#breadcrumb { float: left; }


/* NAVIGATION */
.header__navigation {
  display:block;
  height:$height_bar;
  float:right;

  @include breakpoint(small) {
    display:none;
  }

  * {
    margin:20px 0;
    padding:0 15px;
    display:inline-block;
    height:$height_bar - 20px - 20px;
    line-height:$height_bar - 20px - 20px;
  }

  *:first-child {
    border-right: 1px solid $color-border;
    padding-left:0;
  }

  *:last-child {
    padding-right:0;
  }
}

.header__breadcrumb a:hover,
.footer a:hover,
.header__navigation a:hover,
.header__navigation a.hover {  }

.collapseheader {
  display:block;
  text-align:center;
  margin-top:-20px;
  position:relative;
  height:20px;

  a.collapseheader__link {
    display:block;
    font:0/0 a;
    color:transparent;
    height:20px;
    width:100%;

    &:after {
      content: "";
      width:30px;
      height:5px;
      background:$color-border;
      border-radius:2px;
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-15px;
      margin-top:-3px;
    }
  }
}

