$height_bar: 70px;
$top_spacing: 25px;

#notice {
  overflow: hidden;
  width: 100%;
  background-color: #666; /* << text_light_color */

  &.error { background-color: #d11226; }

  p {
    padding: 44px 0 0 10px;
    background: url(../images/system/icon_exclam24.png) no-repeat 10px 10px;
  }
}

#notice {
  p, p b {
    color: white;
  }

  #close {
    float: right;
    display: block;
    height: 69px;
    width: 36px;
    text-indent: -5000px;
    background: url(../images/system/close24.png) no-repeat 10px 10px;
  }

  #close:hover {
    background-position: 10px -140px;
  }
}



/* LOGO */
#logo {
  padding-top: $gutter;

  a {
    font-size: 300%;
    &:hover { background-color: inherit; }
  }

}

/* BREADCRUMBTOOLS, NAVIGATION, FOOTER: Common */
#breadcrumbtools,
#footer,
#navigation {
  overflow: hidden;
  width: 100%;
}
#breadcrumbtools {
  min-height: 15px;
}/*<-- when no tools, keep a space under the logo*/

.breadcrumbtools__inner {
  width:100%;
  overflow:hidden;
}

.breadcrumbtools__inner a,
.breadcrumbtools__inner span,
#footer a,
#navigation a,
#footer a,
#footer span {
  display: inline-block;
  padding: $top_spacing 0 0 0;
  height: $height_bar; /* 25+14 = 39*/
  /*color: inherit;*/
}

/* BREADCRUMBTOOLS */
#breadcrumbtools,
#navigation {
  border-bottom:1px solid $color-border;
}
#breadcrumbtools,
#breadcrumbtools *,
#navigation,
#navigation * {
  white-space: nowrap;
}
#breadcrumbtools .slash { } /*<-- here you can replace the slash with a graphic*/

/* BREADCRUMBTOOLS: Breadcrumb */
#breadcrumb { float: left; }

/* BREADCRUMBTOOLS: Tools */
#tools {
  float: right;
  overflow: hidden;
}
#tools {
  li {
    float: left;
  }

  li a {
    display: inline-block;
    padding: $top_spacing 10px 0 10px;
    height: $height_bar;
    border-left: 1px solid $color-border;
  }

  li:last-child a {
    padding-right: 0;
  }
}


/* NAVIGATION */
div#navigation {
  overflow:hidden;
}
span.parent_dir {
  display:block;
  float:left;
}

span.parent_dir {
  width:35%;
}

#navigation .parent_dir a {
  /*background: url(../images/system/parent.png) no-repeat 3px 12px;
  padding-left: 25px; */
  padding-right: 10px;
}
/*#navigation .parent_dir a:hover { background-position: 3px -38px; }*/ /*<< Uncomment if you want your arrow to change color on hover. Default is blue. Change image sprite with photoshop for other color*/
#navigation span.prev_next {
  display:block;
  height:$height_bar;
  float:right;

  @include breakpoint(small) {
    display:none;
  }

  * {
    margin:20px 0;
    padding:0 15px;
    display:inline-block;
    height:$height_bar - 20px - 20px;
    line-height:$height_bar - 20px - 20px;
  }

  *:first-child {
    border-right: 1px solid $color-border;
    padding-left:0;
  }

  *:last-child {
    padding-right:0;
  }
}

#breadcrumbtools a:hover,
#footer a:hover,
#navigation a:hover,
#navigation a.hover {  }

#breadcrumbtools {
  .collapseheader {
    display:block;
    text-align:center;
    margin-top:-20px;
  }

  a.collapseheader__link {
    display:block;
  }
}

