/* -------------------------------------------------------------
  STANDARD PARAGRAPH
-------------------------------------------------------------- */
.standard_paragraph {
color: inherit;
font: 13px/15px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
max-width: 970px;
}
.standard_paragraph p { max-width: 700px; }
.standard_paragraph .columns2 {
-moz-column-count: 2;
-moz-column-gap: 20px;
-webkit-column-count: 2;
-webkit-column-gap: 20px;
column-count: 2;
column-gap: 20px;
}
.standard_paragraph .columns3 {
-moz-column-count: 3;
-moz-column-gap: 20px;
-webkit-column-count: 3;
-webkit-column-gap: 20px;
column-count: 3;
column-gap: 20px;
}
.standard_paragraph .columns4 {
-moz-column-count: 4;
-moz-column-gap: 20px;
-webkit-column-count: 4;
-webkit-column-gap: 20px;
column-count: 4;
column-gap: 20px;
}

.standard_paragraph b, .standard_paragraph strong, .standard_paragraph em, .standard_paragraph i, .standard_paragraph li  { font-size: 100%; }
.standard_paragraph h1, .standard_paragraph h2, .standard_paragraph h3,
.standard_paragraph h4, .standard_paragraph h5 {
  width: 700px;
  font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
}
.standard_paragraph h1, .standard_paragraph h3,
.standard_paragraph h4, .standard_paragraph h5,
.standard_paragraph strong, .standard_paragraph em, .standard_paragraph b
{ color: #1a1a1a; }
.standard_paragraph h1, .standard_paragraph h2 {
font-size: 36px;
line-height: 35px;
}
.standard_paragraph h2 { color: #666666; margin-bottom: 20px; }
.standard_paragraph h3 {
font-size: 24px;
line-height: 30px;
margin-top: 30px;
margin-bottom: 10px;
}
.standard_paragraph h4 {
font-size: 18px;
line-height: 30px;
margin-top: 15px;
margin-bottom: 10px;
}
.standard_paragraph h5 {
font-family: "Arial Rounded MT Bold";
margin-top: 10px;
font-size: inherit;
}
.standard_paragraph p {
margin-bottom: 10px;
color: inherit;
font: inherit;
}
.standard_paragraph p b, .standard_paragraph p strong  {
font-weight: bold;
font-family: "Arial Rounded MT Bold";
color: inherit;
}
.standard_paragraph p em, .standard_paragraph p i  {
font-family: inherit;
font-style: italic;
color: inherit;
}
.standard_paragraph p small, .standard_paragraph p small a {
font: italic 11px/15px Georgia, "Times New Roman", Times, serif;
color: #666; /* << text_light_color */
}
.standard_paragraph p small a:hover { color: inherit; }
.standard_paragraph p img {
display: block;
margin: 15px 0;
}
.standard_paragraph ul { font: inherit; color: inherit; width: 700px; }
.standard_paragraph ul li {
/*list-style-image: url(../images/system/dot.png);*/
margin-bottom: 5px;
margin-top: 5px;
font: inherit;
margin-left: 20px;
color: inherit;
list-style-type: disc;
}
.standard_paragraph ol li { margin-left: 21px; }

.standard_paragraph blockquote {
display: block;
padding: 14px 10px 5px 10px;
border: 1px solid $color-border;
margin: 10px 0 15px 9px;
overflow: auto;
color: inherit;
font: inherit;
}
.standard_paragraph blockquote p { }

.standard_paragraph code {
display: block;
padding: 14px 10px 10px 10px;
font: 11px Monaco, mono, "Courier New", Courier;
margin: 10px 0;
overflow: auto;
border: 1px solid $color-border;
background-color: #f5f5f5;
color: inherit;
}
.standard_paragraph table {
padding: 10px 0;
}
.standard_paragraph table td { color: inherit; }
.standard_paragraph table td {
padding:9px 0 0 5px;
border-top: 1px solid $color-border;
}
.standard_paragraph table tr:last-child td { border-bottom: 1px solid $color-border;}
.standard_paragraph a, .standard_paragraph a:link, .standard_paragraph a:visited { text-decoration: underline; }