/* @group Permalink */

#info {}

#info-button {
  display: block;
  width: 15px;
  height: 15px;
  text-indent: -2000px;
  background: url(../images/system/info_button.png) no-repeat;
  margin-bottom: 10px;
}
#info-button:hover {
  background-position: 0 -50px;
}
#info-button.on {
  background-position: 0 -50px;
}
#info-button.on:hover {
  background-position: 0 -100px;
}

#info-box {
  border: 1px solid #dedede;
  padding: 9px 10px 5px 10px;
  max-width: 300px;
  position: relative;
}

/* @end */