$path_img: 'images/';

$breakpoints: (
  xxxlarge: "(min-width: 1800px)",
  xxlarge: "(max-width: 1799px) and (min-width: 1500px)",
  xlarge: "(max-width: 1499px) and (min-width: 1281px)",
  xlarge-and-up: "(min-width: 1281px)",
  large: "(max-width: 1280px) and (min-width: 800px)",
  large-and-down: "(max-width: 1279px)",
  medium: "(max-width: 799px) and (min-width: 640px)",
  medium-and-down: "(max-width: 799px)",
  small: "(max-width: 639px) and (min-width: 481px)",
  small-and-down: "(max-width: 639px)",
  xsmall: "(max-width: 480px)"
);


/* z-index wars */
$z-index__search:99999;
$z-index__notice:9999;
$z-index__dropdown:9998;
$z-index__form:1;
$z-index__root:0;