/* @group Features */

/* --------------------------------------------------------------
   MODULES: CONTENT / FEATURES
-------------------------------------------------------------- */
#features {
  overflow:hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li { float: left; }
  a {
    display: block;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:4px;
    padding: 10px;

    img {
      display: block;
    }

    > .info {
      display: inline-block;
    }
  }

  a {
    .info {
      padding: 0;
      text-align: left;

      h2 {
        color: inherit;
        font-size: em(30px);
        line-height: em(36px, 30px);
        text-transform: none;
        margin: 0;
        padding: 9px 0 5px;
      }
      p {
        margin: 0;
        padding: 0 10px 15px 0;
        color: $color-text-secondary;
      }
    }

    &:hover {
      background-color:$color-hover;
    }
  }
}

/* @end */