/* @group Grid */

/* --------------------------------------------------------------
   MODULES: CONTENT / LISTING GRID VIEW
-------------------------------------------------------------- */

#listing .list--grid {
  width:100%;
  overflow:hidden;

  .list__row {
    display:block;
    text-align:center;
    float:left;
    width:16.666667%;
    max-width:200px;
    padding:$half-gutter;

    @include breakpoint(large) {
      width:20%;
    }

    @include breakpoint(medium) {
      width:25%;
    }

    @include breakpoint(small) {
      width:50%;
      max-width:500px;
    }

    .list__cell--icon {
      padding-left:0;
    }
  }

  .list__cell {
    display:block;
  }

  a.list__row:hover {
    background-color:$color-hover;
  }

  .list__cell--icon {
    min-height:68.5px;
    padding-bottom:$half-gutter/2;

    i {
      display:block;
      width:100%;
      height:61px;
      background-position:50% 50%;
    }
  }

  .list__cell--size,
  .list__cell--date,
  .list__cell--kind,
  .list__cell--updated {
    display: none !important;
  }

  a.list__row--empty,
  a.list__row--empty * {
    cursor:default;
    color:$color-text-tertiary;

    &:hover {
      background-color:$color-bg;
    }
  }

  .list__cell--filename {
    padding-right:0;
  }
}

#listing {
  .grid .updated,
  .column .updated {
    background:$color-text-tertiary;
    border-radius:50%;
    display:block;
    width:8px;
    height:8px;
    vertical-align:middle;

    &.updated--new {
      background:$color-new;
    }
  }
}


/* @end */