/* @group List */

/* --------------------------------------------------------------
   MODULES: CONTENT / LISTING LIST VIEW
-------------------------------------------------------------- */

$height_list: 50px;

#listing {
  width: auto;
  overflow: hidden;

  @include breakpoint(small) {
    margin-left:- $gutter-mobile;
    margin-right:- $gutter-mobile;

    .list__row {
      .list__cell--icon {
        padding-left:$gutter-mobile;
      }
      .list__cell--filename {
        padding-right:$gutter-mobile;
      }
    }
  }
}

.list {
  width: 100%;
  position: relative;
  display:table;
  border-bottom-width:1px;
  border-bottom-color:$color-border-light;

  .list__row {
    overflow: hidden;
    margin: 0;
    display:table-row;
    color:$color-text-secondary;
    position:relative;

    &:after {
      display: block;
      content: '';
      position:absolute;
      border-top-width:1px;
      position:absolute;
      top:0;
      left:0;
      right:0;
    }
  }

  a.list__row {
    color:$color-text-secondary;
  }

  .list__cell {
    border-top-width:1px;
    border-top-color:$color-border-light;
    height: $height_list;
    line-height:$height_list;
    display:table-cell;
    padding-right:20px;
    overflow:hidden;
    @include ellipsis();
  }

  .list__header .list__cell {
    border-top-width:0;
    display:table-cell;

    a {
      color:$color-text-secondary;
    }
  }
}

.list {
  a .list__cell--filename {
    color:$color-text;
  }

  a.list__body:hover {
    background-color:$color-hover;
  }

  a.list__row--empty,
  a.list__row--empty * {
    cursor:default;
    color:$color-text-tertiary;

    &:hover {
      background-color:$color-bg;
    }
  }
}

.list {
  span.caps {
    display: inline;
    float: none;
  }
  span strong {
    color: inherit;
  }
  .list__cell--icon {
    width: 1px;
    position: relative;
    vertical-align: middle;
    padding-left:5px;

    img {
      display:block;
    }
  }
  .list__cell--filename {
    width:20%;
    position: relative;
    padding-right: 20px !important;
  }

  .list__cell--filename:before { /*content: '— ';*/ } /* << If you remove the icons and want to show the link s*/

  .list__cell--size {
    min-width: 65px;
  }
  .list__cell--updated {
    width:8px;
    height:8px;
  }
  .list__cell--date {
    min-width: 90px;
  }
  .list__cell--kind {
    min-width: 130px;
  }
  .list__cell--comment {
    /*position: absolute;*/ /* turning it absolute so that it sticks inline, preventing it to float on browser resizing */
    /*left: 510px;*/ /* setting its left equals the sum of the widths of previous columns */
    top: 0;
  }

  @include breakpoint(medium-and-down) {
    .list__cell--kind,
    .list__cell--comment,
    .list__header .list__cell--kind,
    .list__header .list__cell--comment {
      display: none;
    }
  }

  @include breakpoint(small) {
    .list__cell--size,
    .list__cell--updated,
    .list__cell--date,
    .list__header .list__cell--size,
    .list__header .list__cell--updated,
    .list__header .list__cell--date {
      display: none;
    }

    .list__cell--filename {
      width:95%;
    }
  }
}





/* --------------------------------------------------------------
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */
* html .list .icon .icon_download { position:absolute; }

.list .updated {
  background:$color-text-tertiary;
  border-radius:50%;
  display:block;
  width:8px;
  height:8px;
  vertical-align:middle;

  &.updated--new {
    background:$color-new;
  }
}
  /* @end */