/* @group Grid */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING GRID VIEW
-------------------------------------------------------------- */

#listing .listing {
	font-size:12px;
	display: inline-block;
}

	#listing .listing .listing-header {
		display: none;
	}

	#listing .listing li {
		float:left;
		width: 179px;
		height: 104px;
		text-align: center;
		overflow: hidden;
		margin: 0 1px 1px 0 !important;
	}

		#listing .listing li a {
			display: block;
			width: 100%;
			height: 100%;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			
		}

		#listing .listing li a:hover {
			background-color: #f5f5f5;
			cursor: pointer;
		}
		
		#listing .listing li span {
			display: block;
		}
		
			#listing .listing li span.filename {
				max-height: 1.2em;
				overflow: hidden; /* Crop the text if longer */
			}
			
			#listing .listing li span.comment {
				color: #aaa;
			}
		
	#listing .size, #listing .date, #listing .kind {
		display: none !important;
	}

/* :TODO: Check if we need the following

	.listing li .icon_download {
	background-repeat:no-repeat;
	width:5px;
	height:17px;
	float:left;
	top: 35px;
	left: 65px;
	background-image:url("../images/system/download.png");
	}

	.listing li .icon_download.blank {
	background:none;
	}

	.listing li .updated {
	position:absolute;
	display:block;
	width:11px;
	height:11px;
	z-index:99;
	background:url("../images/system/updated_xl.png") no-repeat top left;
	top: 22px;
	left: 98px;
	}

	*/

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */

#listing .listing li .icon {
	height: 60px;
	position: relative;
}

	#listing .listing li .icon img {
		position: absolute;
		top: 20px;
		left: 73px;
	}

/* :TODO: Check if we need the following

.listing li .icon span {
	position: absolute;
}

.listing li .locked, .listing li .unlocked {
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat 0 0;
top: 29px;
left: 77px;
}

.listing li .unlocked {
background-position:0 -50px;
}

* html .listing li .icon img {

}

* html .listing li .icon .icon_download {
}

*/

/* @end */