/* -------------------------------------------------------------- 
  
   ie7.css
   * Subfolio by AREA 17
   
-------------------------------------------------------------- */

#features ul li a { overflow: visible; }
#features ul li a .image { margin-bottom: -3px;}

#notice p { background: url(../images/system/icon_exclam8.png); }
#notice p, #notice p b { color: white; }
#notice #close { background: url(../images/system/close8.png); }

#info-button { background: url(../images/system/info_button8.png); }

.big_exclam { background: url(../images/system/big_exclam8.png) no-repeat; }
.big_lock { background: url(../images/system/big_lock8.png) no-repeat; }

#download_box .updated, .grid .updated, .grid .new { background: url("../images/system/updated_grid8.png"); }
.list .updated, .list .new { background: url("../images/system/updated8.png"); }