/* -------------------------------------------------------------- 

iphone.css (based on main.css)
* Subfolio by AREA 17

-------------------------------------------------------------- */

/* Body 
-------------------------------------------------------------- */
body  {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	min-width: 320px; /* Resetting the original min-width from main.css */
	margin: 0;
	overflow-x: hidden;
}


/* Resetting padding for all modules when needed
-------------------------------------------------------------- */
body > #container > #container-inner > #breadcrumbtools,
body > #container > #container-inner > #content > * {
	padding-left: 5px;
	padding-right: 5px;
}

body > #container > #container-inner > #content > #listing, 
body > #container > #container-inner > #content > #related {
	padding-left: 0;
	padding-right: 0;
}

body > #container > #container-inner > #content > #listing > *:not(.listing),
body > #container > #container-inner > #content > #related > *:not(.listing) {
	padding-left: 5px;
	padding-right: 5px;
}

#footer a#footer-home {
	padding-left: 5px;
}

/* File Listing 
-------------------------------------------------------------- */
ul.listing {
	min-width: 100% !important; 
}


	.listing > li {
		padding: 8px 0 8px 10px!important;
		position: relative !important ;
		overflow: hidden !important;
		margin: 0 !important;
		border-top: 1px solid #E0E0E0;
	}
	
	.listing > li:last-child {
		border-bottom: 1px solid #E0E0E0;
	}


	.listing > li:hover {
		cursor: pointer;
	}
	
		.listing > li:not(.listing-header) > a {
			display: block !important;
			-moz-background-clip: border !important;
			-moz-background-inline-policy: continuous !important;
			-moz-background-origin: padding !important;
			background: transparent url(../images/system/iphone/listArrow.png) no-repeat scroll right center !important;
			
		}
		
			.listing > li:not(.listing-header) > a > span.kind,
			.listing > li:not(.listing-header) > a > span.comment,
			.listing > li.listing-header > span.kind,
			.listing > li.listing-header > span.comment {
				display: none !important;
			}
			
			.listing > li > a > span.filename {
				width: 200px;
			}

/* Image 
-------------------------------------------------------------- */
img {
	max-width: 450px;
}

