/* -------------------------------------------------------------- 

iphone.css (based on main.css)
* Subfolio by AREA 17

-------------------------------------------------------------- */

/* Body 
-------------------------------------------------------------- */
body  {
width: 450px; /* keeping the side margins with 15px */
min-width: 450px; /* Resetting the original min-width from main.css */
}

/* File Listing 
icon (25)
filename (200)
size (65)
date (90)
kind (130)
-------------------------------------------------------------- */
.listing li {
margin-bottom: 5px;
}

.filename {
width: 110px;
/*background-color: #ccc;*/
}

.size {
width: 50px;
/*background-color: #eee;*/
}

.date {
width: 50px;
/*background-color: #ddd;*/
}

.kind {
width: 100px;
/*background-color: #ccc;*/
}

.comment {
/*background-color: #222;*/
}


