/* @group List */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING LIST VIEW
-------------------------------------------------------------- */

.listing {
	font-size:12px;
	width: 100%;
	min-width: 510px; /* We set the min-width of the listing to match the kind column */
	position: relative;
}

	.listing li {
		overflow: hidden; /* clears the left float applied on li span elements - all browsers except IE6 and below */
		_clear: left; /* IE6: clears the left float */
		margin: 0 0 1px;
	}

		
		.listing li a {
			display: inline-block;
			overflow: hidden;
			width: 100%;
			position: relative;
		}
		
		.listing li a:hover {
			color: #1A1A1A;
			background-color: #eee;
			cursor: pointer;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
		}
	
	
	.listing li.listing-header {
		margin: 0 0 5px;
	}
	
		.listing li.listing-header a {
			color: #777;
		}
		
		.listing li.listing-header a:hover {
			color: #1C7AD5;
			background-color: #fff;
		}
	
	.listing li span {
		display: block;
		float: left;
		
	}

	.icon { width: 25px; height: 17px; position: relative; }
	.filename { width: 200px; position: relative; }
	.size { width: 65px;}
	.date { width: 90px;}
	.kind { width: 130px;}
	.comment { 
		position: absolute; /* turning it absolute so that it sticks inline, preventing it to float on browser resizing */
		left: 510px; /* setting its left equals the sum of the widths of previous columns */
		top: 0;
	}
		
	.filename, .name, .size, .date, .kind, .comment { padding: 2px 0 0; }

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */
* html .icon .icon_download { position:absolute; }

.updated, .new {
position:absolute;
top: 0;
left: 12px;
display:block;
width:9px;
height:9px;
z-index:99;
background:url("../images/system/updated.png") no-repeat top left;
}

.new { background: url("../images/system/new.png") no-repeat top left; }

.locked, .unlocked {
position:absolute;
top: 5px;
left: 3px;
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat top left;
}
.locked { background-position:top; }
.unlocked { background-position:0 -50px; }

/* @end */
