@charset "UTF-8";
/*
 Main CSS is the ONE! Subfolio by AREA 17
 STYLE START HERE Run me using : sass --watch main.scss --style compact
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/*  Removes ios tap highlighting j.mp/webkit-tap-highlight-color */
html { -webkit-tap-highlight-color: transparent; }

/* Body ---------------------------------------------------------------- */
body { background-color: #FFF; /* << background_color */ background-repeat: repeat-x; color: #333; /* << text_color */ border-color: red; /* << border_color */ }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ colors */
/* --- Main colors --- */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ mixins */
/* @mixin icon-type
 Inserts an icon class with a name and optional width/height
 Parameters: $type - name of the icon $minWidth - optional, number, width of the icon $minHeight - optional, number, height of the icon $include - force include of SVG data
*/
/* @mixin background-image
 Inserts an encoded SVG background image from the $icons sass map
 Parameters: $file_name - name of icon $include - include SVG data in stylesheet, overrides global $include_icons var
*/
/* @mixin breakpoint
 Inserts a media query block
 Parameters: $point - name of the breakpoint
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ variables */
/* z-index wars */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ typography */
@font-face { font-family: 'Suisse'; src: url("../fonts/SuisseIntl-Regular-WebXL.eot"); src: url("../fonts/SuisseIntl-Regular-WebXL.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular-WebXL.woff") format("woff"), url("../fonts/SuisseIntl-Regular-WebXL.ttf") format("truetype"), url("../fonts/SuisseIntl-Regular-WebXL.svg#suisse_intlregular") format("svg"); font-weight: normal; font-style: normal; }
body, h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, field, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .standard_paragraph b, input { font-family: "Suisse", Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif; font-size: 15px; font-weight: normal; color: inherit; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ grid */
/* ---------- Grid system must be simple ---------- */
/* ---------- End – Grid system ---------- */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ core */
body * { border-color: #e5e5e5; border-style: solid; border-width: 0; box-sizing: border-box; }

/* Lists --------------------------------------------------------------- */
ul { list-style-type: none; }

hr { height: 1px; margin: 0 0 10px; padding: 0; color: #F00; background-color: #e5e5e5; border: 0 none; border-color: #e5e5e5; }

/* @group Global layout */
/* ---------------------------------------------------------------------
	POSITIONING WITH FOOTER AT BOTTOM
------------------------------------------------------------------------ */
html { height: 100%; }

body { height: 100%; margin: 0; }

#container { position: relative; min-height: 100%; }

#container-inner { padding-bottom: 70px; }

.footer { position: absolute !important; bottom: 0 !important; overflow: hidden; }

/* @end */
/* ------------------------------------------------------------- STANDARD PARAGRAPH
-------------------------------------------------------------- */
.standard_paragraph { color: inherit; font: 13px/15px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif; max-width: 970px; }

.standard_paragraph p { max-width: 700px; }

.standard_paragraph .columns2 { -moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; column-count: 2; column-gap: 20px; }

.standard_paragraph .columns3 { -moz-column-count: 3; -moz-column-gap: 20px; -webkit-column-count: 3; -webkit-column-gap: 20px; column-count: 3; column-gap: 20px; }

.standard_paragraph .columns4 { -moz-column-count: 4; -moz-column-gap: 20px; -webkit-column-count: 4; -webkit-column-gap: 20px; column-count: 4; column-gap: 20px; }

.standard_paragraph b, .standard_paragraph strong, .standard_paragraph em, .standard_paragraph i, .standard_paragraph li { font-size: 100%; }

.standard_paragraph h1, .standard_paragraph h2, .standard_paragraph h3, .standard_paragraph h4, .standard_paragraph h5 { width: 700px; font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif; }

.standard_paragraph h1, .standard_paragraph h3, .standard_paragraph h4, .standard_paragraph h5, .standard_paragraph strong, .standard_paragraph em, .standard_paragraph b { color: #1a1a1a; }

.standard_paragraph h1, .standard_paragraph h2 { font-size: 36px; line-height: 35px; }

.standard_paragraph h2 { color: #666666; margin-bottom: 20px; }

.standard_paragraph h3 { font-size: 24px; line-height: 30px; margin-top: 30px; margin-bottom: 10px; }

.standard_paragraph h4 { font-size: 18px; line-height: 30px; margin-top: 15px; margin-bottom: 10px; }

.standard_paragraph h5 { font-family: "Arial Rounded MT Bold"; margin-top: 10px; font-size: inherit; }

.standard_paragraph p { margin-bottom: 10px; color: inherit; font: inherit; }

.standard_paragraph p b, .standard_paragraph p strong { font-weight: bold; font-family: "Arial Rounded MT Bold"; color: inherit; }

.standard_paragraph p em, .standard_paragraph p i { font-family: inherit; font-style: italic; color: inherit; }

.standard_paragraph p small, .standard_paragraph p small a { font: italic 11px/15px Georgia, "Times New Roman", Times, serif; color: #666; /* << text_light_color */ }

.standard_paragraph p small a:hover { color: inherit; }

.standard_paragraph p img { display: block; margin: 15px 0; }

.standard_paragraph ul { font: inherit; color: inherit; width: 700px; }

.standard_paragraph ul li { /*list-style-image: url(../images/system/dot.png);*/ margin-bottom: 5px; margin-top: 5px; font: inherit; margin-left: 20px; color: inherit; list-style-type: disc; }

.standard_paragraph ol li { margin-left: 21px; }

.standard_paragraph blockquote { display: block; padding: 14px 10px 5px 10px; border: 1px solid #e5e5e5; margin: 10px 0 15px 9px; overflow: auto; color: inherit; font: inherit; }

.standard_paragraph code { display: block; padding: 14px 10px 10px 10px; font: 11px Monaco, mono, "Courier New", Courier; margin: 10px 0; overflow: auto; border: 1px solid #e5e5e5; background-color: #f5f5f5; color: inherit; }

.standard_paragraph table { padding: 10px 0; }

.standard_paragraph table td { color: inherit; }

.standard_paragraph table td { padding: 9px 0 0 5px; border-top: 1px solid #e5e5e5; }

.standard_paragraph table tr:last-child td { border-bottom: 1px solid #e5e5e5; }

.standard_paragraph a, .standard_paragraph a:link, .standard_paragraph a:visited { text-decoration: underline; }

/* @group Text */
/* -------------------------------------------------------------- SIMPLE TEXT
-------------------------------------------------------------- */
.error { color: #FF0000; }

/* << flash_color */
.faded { color: #BBB; }

/* << text_dimmed_color */
/* This is to use the Arial rounded bold and easily change it for Windows */
b, strong { font-family: "Arial Rounded MT Bold"; color: #1a1a1a; }

/* @end */
/* @group Links */
/* -------------------------------------------------------------- LINKS
-------------------------------------------------------------- */
a, a:link, a:visited { color: #1a1a1a; text-decoration: none; outline: none; }

/* << link_color */
a:hover { color: inherit; }

/* LINKS FOR GALLERY, FEATURES MODULES */
#gallery a, #features a, .loginform a { text-decoration: none; }

/* @end */
/* @group cms */
/* -------------------------------------------------------------- CMS SPECIFICS
-------------------------------------------------------------- */
ul.group { margin-bottom: 60px; }
ul.group b { font-weight: bold; }
ul.group a { color: #666; }

/* @end */
/* @group Global modules */
/* -------------------------------------------------------------- MODULES: FLASH, HEADER, LOGO, BREADCRUMBTOOLS, NAVIGATION, FOOTER
-------------------------------------------------------------- */
#notice, #content #notice { overflow: hidden; position: fixed; width: 100%; bottom: 0; left: 0; color: #1A1A1A; background-color: #FFFF0E; /* << text_light_color */ margin: 0; z-index: 9999; animation: hide_notice 0.6s ease-out 3s forwards; }
#notice p, #content #notice p { padding: 30px; text-align: center; }
#notice.error, #content #notice.error { background-color: #d11226; color: #FFF; }

@keyframes hide_notice { 0% { transform: translateY(0%); }
  100% { transform: translateY(101%); } }
.header { border-bottom-width: 1px; }

.header__logo, .header__breadcrumb { overflow: hidden; padding: 0 30px; }

.header__logout { position: absolute; right: 30px; top: 25px; }

/* LOGO */
#logo { padding-top: 30px; }
#logo a { font-size: 300%; }
#logo a:hover { background-color: inherit; }

/* BREADCRUMBTOOLS, FOOTER: Common */
.header__breadcrumb, .footer { overflow: hidden; width: 100%; }

.header__breadcrumb { min-height: 30px; }

/*<-- when no tools, keep a space under the logo*/
#breadcrumb a, #breadcrumb span, .footer a, .footer a, .footer span { display: inline-block; padding: 25px 0 0 0; height: 70px; /* 25+14 = 39*/ /*color: inherit;*/ }

/* BREADCRUMBTOOLS */
.header__breadcrumb, .header__breadcrumb * { white-space: nowrap; }

/*<-- here you can replace the slash with a graphic*/
/* BREADCRUMBTOOLS: Breadcrumb */
#breadcrumb { float: left; }

/* NAVIGATION */
.header__navigation { display: block; height: 70px; float: right; }
@media (max-width: 639px) { .header__navigation { display: none; } }
.header__navigation * { margin: 20px 0; padding: 0 15px; display: inline-block; height: 30px; line-height: 30px; }
.header__navigation *:first-child { border-right: 1px solid #e5e5e5; padding-left: 0; }
.header__navigation *:last-child { padding-right: 0; }

.collapseheader { display: block; text-align: center; margin-top: -20px; position: relative; height: 20px; }
.collapseheader a.collapseheader__link { display: block; font: 0/0 a; color: transparent; height: 20px; width: 100%; }
.collapseheader a.collapseheader__link:after { content: ""; width: 30px; height: 5px; background: #e5e5e5; border-radius: 2px; position: absolute; top: 50%; left: 50%; margin-left: -15px; margin-top: -3px; }

/* FOOTER */
.footer { overflow: hidden; padding: 0 30px; }
.footer a, .footer span { padding-left: 5px; padding-right: 5px; }
.footer .copyright { float: left; }
.footer .updatedsince { float: right; }
@media (max-width: 1019px) { .footer .updatedsince { display: none; } }

.footer .updatedsince__sep { display: inline-block; width: 5px; padding-left: 0; padding-right: 0; }
.footer a.footer-home, .footer span.copyright__text { padding-right: 10px; }

.footer *:first-child { padding-left: 0; }

/* ERRORS */
.big_exclam { display: block; width: 59px; height: 59px; background: url(../images/system/big_exclam8.png) no-repeat; }

.big_exclam, .big_lock { display: block; width: 59px; height: 59px; text-indent: -5000em; }

.big_exclam { background: url(../images/system/big_exclam24.png) no-repeat; }

.big_lock { background: url(../images/system/big_lock24.png) no-repeat; }

/* @end */
/* @group Content */
/* -------------------------------------------------------------- MODULES: CONTENT
-------------------------------------------------------------- */
#content { /*max-width: 900px;*/ /*If you want to limit the width of your page ...*/ }

/* @end */
/* @group Gallery */
/* -------------------------------------------------------------- MODULES: CONTENT / GALLERY
-------------------------------------------------------------- */
#gallery { display: inline-block; position: relative; }

#gallery ul { list-style: none; margin: 0; padding: 0 1px 1px 0; overflow: hidden; }
#gallery ul li { float: left; }
#gallery ul li a { display: block; margin: 0 -1px -1px 0; padding: 20px; border-width: 1px; background: white; }
#gallery ul li a p { color: inherit; }
#gallery ul li a div.gallery_thumbnail { min-height: 240px; position: relative; background-color: white; }
#gallery ul li a div.custom { height: auto; }
#gallery ul li a img { border: none; overflow: hidden; }
#gallery ul li a:hover p { cursor: pointer; color: #fff; }
#gallery ul li a p { text-align: center; margin: 0; padding: 10px 0 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* @end */
/* @group Features */
/* -------------------------------------------------------------- MODULES: CONTENT / FEATURES
-------------------------------------------------------------- */
#features { overflow: hidden; _display: inline-block; }

#features ul { list-style: none; margin: 0; padding: 0; overflow: hidden; }

#features ul li { float: left; }

#features ul li a { display: block; overflow: hidden; padding: 10px; _display: inline-block; margin-right: 5px; margin-bottom: 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 0; border: 10px solid transparent; }

#features ul li a img { display: block; }

#features ul li a > .info { display: inline-block; }

#features ul li a .info { padding: 0; text-align: left; }

#features ul li a .info h2 { color: inherit; font-weight: 700; text-transform: none; margin: 0; padding: 9px 0 5px; }

#features ul li a .info p { margin: 0; padding: 0 10px 15px 0; color: #333; }

#features ul li a:hover { background-color: #f5f5f5; }

/* @end */
/* @group List */
/* -------------------------------------------------------------- MODULES: CONTENT / LISTING LIST VIEW
-------------------------------------------------------------- */
#listing { width: 100%; overflow: hidden; }

.list { width: 100%; min-width: 510px; /* We set the min-width of the listing to match the kind column */ position: relative; display: table; border-bottom-width: 1px; border-bottom-color: #f2f2f2; }
.list li, .list .list__row { overflow: hidden; /* clears the left float applied on li span elements - all browsers except IE6 and below */ margin: 0; display: table-row; }
.list .list__cell { border-top-width: 1px; border-top-color: #f2f2f2; height: 50px; line-height: 50px; display: table-cell; padding-right: 20px; overflow: hidden; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.list .list__header .list__cell { border-top-width: 0; display: table-cell; }
.list li a { display: block; overflow: hidden; width: 100%; position: relative; color: inherit; }
.list li a:hover { cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px; background-color: #eee; }
.list a.list__row--empty { cursor: default; }
.list li.listing-header { margin: 0; }

.isIphone .list li span { background-image: none !important; }

.list { /* << If you remove the icons and want to show the link s*/ }
.list span.caps { display: inline; float: none; }
.list span strong { color: inherit; }
.list .list__cell--icon { width: 1px; position: relative; vertical-align: middle; }
.list .list__cell--icon img { display: block; }
.list .list__cell--filename { width: 20%; position: relative; padding-right: 20px !important; }
.list .list__cell--filename:before { /*content: '— ';*/ }
.list .list__cell--size { min-width: 65px; }
.list .list__cell--updated { width: 8px; height: 8px; }
.list .list__cell--date { min-width: 90px; }
.list .list__cell--kind { min-width: 130px; }
.list .list__cell--comment { /*position: absolute;*/ /* turning it absolute so that it sticks inline, preventing it to float on browser resizing */ /*left: 510px;*/ /* setting its left equals the sum of the widths of previous columns */ top: 0; }
@media (max-width: 1019px) { .list .list__cell--kind, .list .list__cell--comment, .list .list__header .list__cell--kind, .list .list__header .list__cell--comment { display: none; } }
@media (max-width: 639px) { .list .list__cell--size, .list .list__cell--updated, .list .list__cell--date, .list .list__header .list__cell--size, .list .list__header .list__cell--updated, .list .list__header .list__cell--date { display: none; }
  .list .list__cell--filename { width: 95%; } }

/* -------------------------------------------------------------- MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */
* html .list .icon .icon_download { position: absolute; }

.list .updated { background: #CBCBCB; border-radius: 50%; display: block; width: 8px; height: 8px; vertical-align: middle; }
.list .updated.updated--new { background: #44BCF9; }

.list .new { background: url("../images/system/new.png") no-repeat top left; }

.list .locked, .list .unlocked { position: absolute; top: 50%; left: 3px; display: block; width: 12px; height: 8px; z-index: 98; background: url("../images/icons/list/lock.png") no-repeat top left; }

.list .locked { background-position: top; }

.list .unlocked { background-position: 0 -50px; }

/* @end */
/* @group Grid */
/* -------------------------------------------------------------- MODULES: CONTENT / LISTING GRID VIEW
-------------------------------------------------------------- */
.grid { display: inline-block; }

.grid .listing-header { display: none; }

.grid li { float: left; width: 179px; height: 104px; text-align: center; overflow: hidden; margin: 0 1px 1px 0 !important; }

.grid li a { display: block; width: 100%; height: 100%; -moz-border-radius: 3px; -webkit-border-radius: 3px; position: relative; }

.grid li a:hover { background-color: #f5f5f5; cursor: pointer; }

.grid li span { display: block; }

.grid li span.filename { max-height: 1.2em; overflow: hidden; /* Crop the text if too long */ }

.grid li span.comment { color: #aaa; }

.grid li span.comment strong { color: inherit; }

.grid .size, .grid .date, .grid .kind { display: none !important; }

.grid .empty { filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }

/* -------------------------------------------------------------- MODULES: CONTENT / GRID ICONS
-------------------------------------------------------------- */
.grid .updated, .grid .new { position: absolute; top: 23px; left: 98px; display: block; width: 11px; height: 11px; z-index: 99; background: url("../images/system/updated_grid24.png") no-repeat top left; }

.grid li .icon { height: 60px; position: relative; }

.grid li .no_icon { height: 45px; position: relative; }

.grid li .icon img { position: absolute; top: 20px; left: 73px; }

.grid .locked, .grid .unlocked { position: absolute; float: left; top: 28px; left: 75px; display: block; width: 28px; height: 20px; z-index: 98; background: url("../images/icons/grid/lock.png") no-repeat top left; }

.grid .locked { background-position: top; }

.grid .unlocked { background-position: 0 -50px; }

/* @end */
/* @group Related */
/* -------------------------------------------------------------- MODULE: RELATED
-------------------------------------------------------------- */
#related p { margin: 0 0 5px; }

/* @end */
/* @group Forms */
/* -------------------------------------------------------------- FORMS
-------------------------------------------------------------- */
/* Form Container */
.loginform { overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 1; }

.loginform__container { text-align: center; display: table; vertical-align: middle; height: 100%; width: 100%; }

.login__error { animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; transform: translate3d(0, 0, 0); backface-visibility: hidden; perspective: 1000px; }

@keyframes shake { 10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); } }
/* Form header */
.login__header * { color: #1A1A1A; font-size: 3em; }
.login__header h2 { color: #999; }

.loginform__inner { display: table-cell; vertical-align: middle; width: 100%; /* Form */ }
.loginform__inner .loginform__form { overflow: hidden; text-align: left; width: 360px; margin-left: auto; margin-right: auto; }

/* Form feedback */
.loginform .login_feedback { padding: 19px 0 10px 10px; background-color: red; color: #FFF; }

.loginform .login_feedback b { color: inherit; }

/* Fields */
.loginform form input.field { width: 100%; padding: 0 20px; font-size: 1em; color: inherit; background-color: #e5e5e5; border-radius: 2px; height: 55px; line-height: 55px; }

/* Checkbox */
.loginform form .checkbox { overflow: hidden; line-height: 14px; }
.loginform form .checkbox input { float: left; margin: 0 5px 0 0; padding: 0; }

/* Spacing & Alignment */
.loginform form input.field { margin: 20px 0 0 0; }

.loginform form .checkbox { margin: 10px 0 15px; margin-left: 95px; }

/* Submit button */
.subButton { width: 100%; overflow: hidden; }
.subButton input { width: 100%; display: block; color: #1A1A1A; border-radius: 2px; margin: 20px 0 0 0; padding: 0; cursor: pointer; text-align: center; background-color: #FFF; height: 53px; line-height: 53px; border-width: 1px; border-color: #1A1A1A; }
.subButton input:hover { background-color: #1A1A1A; color: #FFF; }

/* @end */
/* @group Download */
#download_box { max-width: 350px; padding-top: 10px; }

#download_box .updated { position: absolute; display: block; width: 11px; height: 11px; z-index: 99; background: url("../images/system/updated_grid24.png") no-repeat top left; top: 0; left: 25px; }

#download_box #filename { clear: both; padding-top: 18px; margin-bottom: 2px; width: 220px; overflow: hidden; color: inherit; }

#download_box #clickable-zone { display: block; position: relative; }

#download_box dl { display: block; width: 100%; overflow: hidden; border-top-width: 1px; margin-top: 35px; margin-bottom: 15px; }
#download_box dt { float: left; padding-top: 15px; }
#download_box dd { display: block; padding-top: 15px; padding-left: 42.85714%; padding-bottom: 15px; border-bottom-width: 1px; }
#download_box dd:last-child { border-bottom-width: 0; }

#download_box #instructions { padding: 15px 0 10px 0; border-top-width: 1px; margin-bottom: 35px; margin-top: -15px; }

#download_box #instructions a { text-decoration: underline; }

#download_box #download { display: block; padding-bottom: 16px; padding-top: 17px; border-width: 1px; text-align: center; border-radius: 2px; }

#download_box #download.with_arrow { padding-left: 10px; background: url(../images/system/download_xl.png) no-repeat 0 2px; }

/* @group Permalink */
#info-button { display: block; width: 15px; height: 15px; text-indent: -2000px; background: url(../images/system/info_button.png) no-repeat; margin-bottom: 10px; }

#info-button:hover { background-position: 0 -50px; }

#info-button.on { background-position: 0 -50px; }

#info-button.on:hover { background-position: 0 -100px; }

#info-box { border: 1px solid #dedede; padding: 29px; max-width: 350px; position: relative; }

/* @end */
/* --------------------------------------------------------------
MODULE SPACING
-------------------------------------------------------------- */
#content { margin: 15px 30px; }
#content:after { content: ""; display: table; clear: both; }

/* << If you remove the lines, remove the padding */
/* Sets styles only for direct childs of #content (i.e gallery, features, listing) */
#content > * { margin: 0 0 30px; }

#inline_top_image, #inline_middle_image, #inline_bottom_image { /*width: 100%;
overflow: hidden;*/ /*<< Use if you want to crop the image instead of showing the horizontal scrollbar */ }

#inline_top_image img, #inline_middle_image img, #inline_bottom_image img { padding: 0; margin: 0 2px 2px 0; float: left; }

#inline_top_text, #inline_middle_text, #inline_bottom_text { margin-bottom: 10px; }

#file_listing { padding: 5px 0 10px; }

#document { padding: 0px 0 5px; }

#description { padding: 5px 0 0; }

.text_block { margin-bottom: 30px; }

/* ------------- FLOAT AND CLEAR MISC ------------------------------------- */
.show { display: block; }

.hide { display: none; }

.clear { clear: both; }

.floater { float: left; }

.visible { visibility: visible; }

.invisible { visibility: hidden; }

/*# sourceMappingURL=main.css.map */
