/* --------------------------------------------------------------------- */
/* AREA 17 MEDIA CSS													                           */
/* --------------------------------------------------------------------- */

html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

body
{
	margin: 15px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	background-color: #F5F5F5;
	background-repeat: repeat-x;
}

p { margin: 1em 0 0.5em 0; }

ul, ol { margin: 0 0 1em 0; }


/* ------------- TEXT -------------------------------------------------- */

p, h1, h2, ul, ol, pre, .copy, .bigFont
{
	font-size: 13px;
	font-family: sans-serif;
	line-height: 15px;
	margin-right: 5%;
	max-width: 50em;
	font-weight: normal;
	color: #333;
}

h1, h2 { color: #1C7AD5; } 

h1, .bigFont {
	font-size: 2.1em;
	font-family: Georgia;
	line-height: 1.2em;
	max-width: 36em;
}

h1, .bigFont { //font-size: 18px; //line-height: 19px; //font-weight: bold; }

h1 { margin: 0.25em 0 0.7em 0; }

h2 { margin: 2em 0 0 0; text-transform: uppercase; }

h2 { //font-weight: bold; }

em, strong { font-style: normal; color: #1a1a1a; }

strong {
	font-weight: bold;
}

em {
	background-color: #F7FFB9;
}

.small { font-size: 10px; color: #999999; }

ul, ol { padding-left: 20px; }

.error { color: #FF0000; }

.faded { color: #BBBBBB; }

.content { line-height: 15px; }

.flash { color: #1C7AD5; }

.bottom_margin { margin-bottom : 5px; }

.copyright { margin-top : 5px; }

.huge { font-size: 500%; //font-size: 100%; }


/* ------------- LINKS -------------------------------------------------- */

A, A:link, A:visited {
	color: #1a1a1a;
	text-decoration: none;
}

A:hover { color: #1C7AD5; }

h1 A, h1 A:link, h1 A:visited {
	color: #1C7AD5;
	text-decoration: underline;
}

/* ------------- LINES -------------------------------------------------- */

.line
{
	clear: both;
	height: 1px;
	background: url(../images/line.gif);
	margin: 10px 0 10px 0;

}

hr
{
	height: 1px;
	padding: 0;
	margin: 23px 0 18px 0;
	border-color: #F5F5F5;
	border-width: 0 0 0 0;
	border-style: none;
	background: url(../images/line_thin.gif);
	
}

/* ------------- FLOAT AND CLEAR MISC ------------------------------------- */

.floater { float: left; }

.clear { clear: both; }

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* ------------- MODULES -------------------------------------------------- */

.top_message { padding: 2px 0 3px 0; }

.logo {
	padding-bottom: 11px;
	background-repeat: no-repeat;
}
.logo a {
	display : block;
}
.logo:HOVER {
}

.list, .unspaced_list { clear: both; }

.list
{
	background-color: #F5F5F5;
	border-bottom: #F5F5F5;
	border-top: #F5F5F5;
	border-width: 3px 0 3px 0;
	border-style: solid none solid none;
}

.list:HOVER
{
	background-color: #E0E0E0;
}

.file_edit, .fileicon, .filename, .filesize, .filedate, .filekind, .filecomment, .legend_img, .legend_txt { float: left;  }

.legend_txt { vertical-align: text-top; }

.filename, .filesize, .filedate, .filekind, .filecomment { padding: 1px 1em 0 0; }

.file_edit { width: 18px; }
.fileicon { width: 30px; }
.filename { width: 36em; }
.filesize { width: 6em; }
.filedate { width: 9em; }
.filekind { width: 12em; }

.parent_arrow { background-color: #333; }
.parent_arrow:HOVER { background-color: #1C7AD5; }

.feature_box { float: left; padding: 0 1px 10px 0; background-color: #F5F5F5; }

.feature { float: left; display: block; }

.feature_description
{
	padding: 10px 9px 8px 11px;
	width: 150px;
	float: left;
}

.feature_filename { padding: 2px 0 8px 0; font-weight: bold; }



#gallery {
  padding: 0 0 5px 0;
}

#gallery ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
  #gallery ul li { float: left; padding: 2px; margin: 0 1px 1px 0; background-color: #fff; }
  #gallery ul li:hover { background: #1C7AD5; color: #fff; }
  #gallery ul li p { margin: 0; padding: 5px 0 2px 4px; }

.newsletter_text { color: #F5F5F5; padding: 0 0 5px 0; font-weight: bold; }


/* ------------- FORMS -------------------------------------------------- */

.locker {
	background-color: #ECECEC;
	border-style: dotted;
	border-color: #333333;
	border-width: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 15px;
	width: 240px;
}

form .label { padding: 8px 0 2px 0; }

.field
{
	background-color: #FFF;
	width: 180px;
	padding: 1px;
}

input.radio
{
	background : #DDDDDD;
	color: #000;
	padding: 0;
   	margin: 0;
   	border: 0;
}

.checkbox { padding: 2px 0 0 0; }

.showSwitch { display: block; }
.hideSwitch { display: none; }

.required { color: #FF0000; font-weight: bold; }


/* ------------- BUTTONS ---------------------------------------------------*/

.subButton, .button, .task, .inactiveButton
{
	padding: 4px 21px 3px 20px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	margin: 0 5px 1px 0;
	float: left;
}

.subButton
{
	background-color: #F2F2F2;
	border-color: #D9D9D9;
	
}
.subButton:HOVER {
	background-color: #E3E3E3;
	border-color: #CCC;
}

.subButton A, .subButton A:visited, .subButton A:Hover, .task A:Hover { text-decoration: none; }


/* ------------- MODULE SPACING -------------------------------------------------- */

#header, #inline_picture, #inline_text, #gallery, #features, #file_listing, #description, #related, #footer
{ margin-bottom: 1px; }

#navigation {
  padding: 2px 0 5px 0;
  border-bottom: 1px dotted #000;
  margin: 0 0 10px 0;
}

#navigation .prev_next {
  margin: 5px 0 2px 0;
  padding: 5px 0 2px 0;
  border-top: 1px dotted #000;
}


#header { padding: 2px 0 5px 0; }

#lock { padding: 7px 0 0 0; }

#inline_picture { padding-bottom: 10px; }

#top_inline_text { padding-bottom: 0px; }

#bottom_inline_text { padding-bottom: 10px; }

#features { }

#file_listing { padding: 5px 0 10px 0; }

#document { padding: 0px 0 5px 0; }

#description { padding: 5px 0 0 0; }

.text_block { margin-bottom : 30px; }

#related { padding: 0 0 10px 0; }

#cms { padding: 0 0 0 0; }

#footer { padding: 0 0 0 0; 
  margin: 10px 0 0px 0;
  border-top: 1px dotted #000;
  
}


#path {
    float: left;
}

#pathlinks {
    text-align: right;
}

