/* -------------------------------------------------------------- 

main.css
* Subfolio by AREA 17

-------------------------------------------------------------- */
html,body,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

body  {
background-color:#FFF;
background-repeat:repeat-x;
min-width:550px;
}

body, h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, field, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .standard_paragraph b {
/*color:#333;*/
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight: normal;
}

/* @group Global layout */

/* -------------------------------------------------------------- 
POSITIONING WITH FOOTER AT BOTTOM
-------------------------------------------------------------- */

html {
height:100%;
}

body {
height:100%;
margin: 0 15px 0;
}

#container{
position:relative;
min-height:100%;
}

#container-inner{
padding-bottom:40px;
}

#logo{
padding-top: 15px;
}

#footer{
position:absolute;
bottom:0;
}

* html {
width:95%;
}

* html body {
width:96%;
}

* html body #container {
width:96%;
}

/* @end */

/* @group Standard Paragraph */
.standard_paragraph {
	max-width: 750px;
}
.standard_paragraph b, .standard_paragraph strong, .standard_paragraph em, .standard_paragraph i  {
	font-size: 100%;
}
.standard_paragraph h1, .standard_paragraph h2 {
	font-size: 36px;
	line-height: 35px;
}
.standard_paragraph h2 {
	color: #666666;
}
.standard_paragraph h3 {
	font-size: 22px;
	line-height: 30px;
	color: #333;
	margin-bottom: 5px;
	margin-top: 20px;
}
.standard_paragraph p {
	line-height: 15px;
	color: #333;
}
.standard_paragraph p b, .standard_paragraph p strong  {
	color: #1A1A1A;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold";
}
.standard_paragraph p small,
.standard_paragraph p small a {
	color: #666;
	font: italic 11px/15px Georgia, "Times New Roman", Times, serif;
}
.standard_paragraph p small a:hover {
	color:#DD0000;
}
.standard_paragraph ul li:before {
	content: '— ';
}
.standard_paragraph ul li {
	color: #333;
	margin-bottom: 5px;
}
.standard_paragraph blockquote p:before {
	content: '“';
}
.standard_paragraph blockquote p:after {
	content: '”';
}

.standard_paragraph blockquote {
	display: block;	
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid #e0e1e2;
}
.standard_paragraph blockquote p {
	font: italic normal 2em/25px Georgia, "Times New Roman", Times, serif;
	color: #666;
	padding-bottom: 0em;
	}
	
/* @end */

/* @group Text */

/* -------------------------------------------------------------- 
   STANDARD PARAGRAPH
-------------------------------------------------------------- */

.error {
color:#FF0000;
}
.flash {
color:#FF0000;
}
.faded {
color:#BBB;
}

.bottom_margin {
margin-bottom:5px;
}

.copyright {
margin-top:5px;
}

/* This is to use the Arial rounded bold and easily change it for Windows */
b {
	font-family: "Arial Rounded MT Bold";
}

/* @end */

/* @group Links */

/* -------------------------------------------------------------- 
   LINKS
-------------------------------------------------------------- */
a,a:link,a:visited {
color:#1a1a1a;
text-decoration:none;
}

a:hover {
/*color:#DD0000;*/
}

h1 a,h1 a:link,h1 a:visited {
color:#DD0000;
text-decoration:underline;
}

#header h1 a img {
border:none;
}

/* LINKS FOR GENERAL CONTENT */
#content a {
text-decoration:underline;
}

/* LINKS FOR GALLERY, FEATURES MODULES */
#gallery a, #features a, #lock a {
text-decoration:none;
}

/* @end */

/* @group Global modules */

/* -------------------------------------------------------------- 
   MODULES: FLASH, HEADER, LOGO, BREADCRUMBTOOLS, NAVIGATION, FOOTER
-------------------------------------------------------------- */
#flash {
padding: 44px 10px 10px 10px;
background-color: #666;
}
#flash p {
color: white;
}

/* LOGO */
.logo {
margin:0;
}

/* BREADCRUMBTOOLS, NAVIGATION, FOOTER: Common */
#breadcrumbtools,#footer,#navigation {
overflow:hidden;
line-height:35px;
width:100%;
}

#breadcrumbtools a, #footer a, #navigation a, #navigation .faded {
padding:13px 0;
}
#breadcrumbtools a:hover,#footer a:hover,#navigation a:hover {
/*background-color: yellow;*/
}

.nav_sep {
border-left:1px solid #D9D9D9;
padding:12px 0;
}

/* BREADCRUMBTOOLS */
#breadcrumbtools,#navigation {
border-bottom:1px solid #D9D9D9;
}

/* BREADCRUMBTOOLS: Breadcrumb */
#breadcrumb {
float: left;
color: #666;
}

/* BREADCRUMBTOOLS: Tools */
#tools {
text-align:right;
}

#tools a {
padding-left:10px;
padding-right:10px;
}
#tools a:hover {
/*background-color: yellow;*/
}

a#showHideSwitch {
padding-right:0;
}

/* NAVIGATION */
div#navigation {
overflow:hidden;
}
span.parent_dir {
display:block;
width:35%;
float:left;
}

span.parent_dir a span.name {
padding:12px 0 13px 0;
}

span.parent_dir a span.fileicon {
padding-bottom:10px;
}

.parent_arrow {
display:block;
float:left;
width:18px;
height:17px;
text-indent:-2000px;
background:url("../images/system/parent.png") no-repeat;
margin:8px 4px 0 0;
}

a:hover .parent_arrow {
background-position:0 -50px;
}

#navigation span.prev_next a,
#navigation span.prev_next .faded {
padding-left:10px;
padding-right:10px;
}

/* NAVIGATION IE6 Fixes */
* html .parent_dir a span.fileicon {
padding:0px;
}

* html .parent_arrow {
margin:11px 0 -20px;
padding:0;
}

/* FOOTER */
#footer {
border-top:1px solid #D9D9D9;
color:#000;
}

#footer .nav_sep {
margin:0 10px;
}

#footer .update_toggle {
padding-left:6px;
padding-right:6px;
}

#footer span.update_toggle {
color:#666;
}

#footer .footer_sep {
display: inline-block;	
width: 5px;
height: 35px;
color:#999;
font-size:16px;
text-indent: -2000px;
background: url(../images/system/dot.png) no-repeat 0 17px;
}

/* @end */

/* @group Content */

/* -------------------------------------------------------------- 
   MODULES: CONTENT
-------------------------------------------------------------- */
#content {
overflow:hidden;
}

/* @end */

/* @group Gallery */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / GALLERY
-------------------------------------------------------------- */
#gallery {
overflow:hidden;
}

#gallery ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
}

#gallery ul li {
float:left;
overflow:hidden;
}

#gallery ul li a {
float:left;
background-color:#f5f5f5;
margin:0 1px 1px 0;
padding:1px;
}

#gallery ul li a div.gallery_thumbnail {
background-color: white;
}
#gallery ul li a div.gallery_thumbnail div.hcenterer {
height: 240px;
/*width: 100px;*/
margin: 0 auto;
}
#gallery ul li a div.gallery_thumbnail div.vcenterer {
display: table-cell;
vertical-align: middle;
height:240px;
width: 100px;
}
div[id=gallery] ul li a div.gallery_thumbnail.generated {
height:240px;
} /** not for IE6 **/
 
#gallery ul li a img {
border:none;
overflow:hidden;
}

#gallery ul li a:hover,#gallery ul li a:hover p {
background:#1a1a1a;
color:#fff;
}

#gallery ul li a p {
margin:0;
padding:9px 5px 5px 7px;
/*background-color: white;*/
}

* html #gallery {
clear:left;
}

/* @end */

/* @group Features */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / FEATURES
-------------------------------------------------------------- */
#features {
overflow:hidden;
}

#features ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
}

#features ul li {
float:left;
}

#features ul li a {
display:block;
overflow:hidden;
padding:0 160px 0 0;
}

#features ul li a .image {
position:relative;
float:left;}

#features ul li a .image img {
border:1px solid #fff;
}

#features ul li a .info {
width:200px;
position:relative;
float:left;
margin-right:-160px;
padding:0;
}

#features ul li a .info h2 {
color:#1a1a1a;
font-weight:700;
text-transform:none;
text-decoration:underline;
margin:0;
padding:10px 10px 8px;
}

#features ul li a .info p {
margin:0;
padding:0 10px 10px;
}

#features ul li a:hover {
background-color:#f5f5f5;
}

#features ul li a:hover .image img {
border:1px solid #1a1a1a;
}

#features ul li a:hover .info h2 {
/*color:#DD0000;*/
}

* html #features {
clear:left;
}

* html #features ul li a .info {
position:absolute;
}

/* @end */


/* MISC: to sort!!! */

/* @group List */

#listing ul,#related ul {
width:100%;
overflow:hidden;
font-size:12px;
padding:0;}

#listing ul li,#related ul li {
margin:0;
}

#listing ul li,#listing ul li.listing-header,#related ul li {
list-style:none;
}

#listing ul li.listing-header {
padding:0 0 5px;
}

#listing ul li a,#related ul li a {
display:block;
text-decoration:none;
color:#777;
margin-bottom:1px;
padding:1px 0;
}

#listing ul li a:hover,#related ul li a:hover {
color:#1A1A1A;
background-color:#eee;
cursor:pointer;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

#listing ul li.listing-header a:hover {
border:none;
color:#1C7AD5;
background-color:inherit;
}

.listing-content {
min-width:550px;
min-height:16px;
overflow:hidden;
}

.listing-content span {
display:block;
}

.listing-content-left {
width:35%;
float:left;
}

.listing-content-right {
margin:0 0 0 35%;
}

.listing-content-left-inner {
padding-left:35px;
padding-right:65px;
}

.listing-content-left-inner .column {
position:relative;
float:left;
}

.icon {
width:35px;
margin-right:-100%;
right:35px;
height:17px;
}

.name, .filename {
width:100%;
}

.filename {
color:#1A1A1A; /*font-family: "Arial Rounded MT Bold", Arial;*/
}

.size {
width:50px;
margin-right:-100%;
text-align:right;
}

.datekind {
width:220px;
float:left;
}

.date {
width:90px;
float:left;
}

.kind {
margin-left:90px;
}

.comment {
margin-left:230px;
}

.filename,.name,.size,.date,.kind,.comment {
padding:2px 0 0;
}

/* --- IE Fixes */
* html .mw {
clear:both; /* Forces clear and sets min-width for IE6 */
padding:0 0 0 700px; 
} 

* html .mwc {
margin-left:-700px; /* Min width fix for IE6 */
position:relative;
} 

/**/
/* The surrounding asterisks is used to hide this style from IE5 on a Mac. Prevents the comment column to drop down */
* html .mw, * html .layout, * html .mwc, * html .listing-content-right-inner {
height:1px;
} 
/**/

* html .listing-content {
margin:1px 0;
padding:1px 0;
}

* html #listing {
clear:left;
}

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */
/* --- Icon for Download */
.icon_download {
background-repeat:no-repeat;
width:5px;
height:17px;
float:left;
margin-left:4px;
margin-right:1px;
background-image:url("../images/system/download.png");
}

.icon_download.blank {
background:none;
}

* html .icon img {
margin-left:10px;
}

* html .icon .icon_download {
position:absolute;
}

.updated, .new {
position:absolute;
display:block;
width:9px;
height:9px;
z-index:99;
background:url("../images/system/updated.png") no-repeat top left;
margin:0 0 0 22px;
}

.new {
background: url("../images/system/new.png") no-repeat top left;
}

.locked,.unlocked {
position:absolute;
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat top left;
margin:5px 0 0 13px;
}

.locked {
background-position:top;}

.unlocked {
background-position:0 -50px;
}

/* @end */

.top_message {
padding:2px 0 3px;
}

.list, .unspaced_list {
clear:both;
}
.list:HOVER {
background-color:#f5f5f5;
}
.file_edit, .fileicon, .legend_img, .legend_txt {
float:left;
}

.legend_txt {
vertical-align:text-top;
}

.newsletter_text {
color:#F5F5F5;
font-weight:700;
padding:0 0 5px;
}

/* @group Related */

/* -------------------------------------------------------------- 
   MODULE: RELATED
-------------------------------------------------------------- */

#related ul {
width:100%;
overflow:hidden;
font-size:12px;
padding:0;}

#related ul li {
margin:0;
}

#related ul li {
list-style:none;
}

#related ul li a {
display:block;
text-decoration:none;
color:#777;
margin-bottom:1px;
padding:1px 0;
}

#related ul li a:hover {
color:#1A1A1A;
background-color:#eee;
cursor:pointer;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

#related ul li .listing-content {
min-width:550px;
min-height:16px;
overflow:hidden;
}

#related ul li .listing-content span {
display:block;
}

#related ul li .listing-content-left-inner {
overflow: hidden;
padding-left:35px;
padding-right:65px;
}

#related ul li .listing-content-left-inner .column {
position:relative;
float:left;
}

#related ul li .icon {
width:35px;
margin-right:-100%;
right:35px;
height:17px;
}

#related ul li .name, .filename {
width:100%;
}

#related ul li .filename {
color:#1A1A1A; 
padding:2px 0 0;
}

#related ul li .icon_download {
background-repeat:no-repeat;
width:5px;
height:17px;
float:left;
margin-left:4px;
margin-right:1px;
background-image:url("../images/system/download.png");
}

#related ul li .icon_download.blank {
background:none;
}

* html #related ul li .icon img {
margin-left:10px;
}

* html #related ul li .icon .icon_download {
position:absolute;
}

#related ul li .updated {
position:absolute;
display:block;
width:9px;
height:9px;
z-index:99;
background:url("../images/system/updated.png") no-repeat top left;
margin:0 0 0 22px;
}

#related ul li .locked,#related ul li .unlocked {
position:absolute;
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat top left;
margin:5px 0 0 13px;
}

#related ul li .locked {
background-position:top;}

#related ul li .unlocked {
background-position:0 -50px;
}

/* @end */

/* @group Forms */

/* -------------------------------------------------------------- 
   FORMS
-------------------------------------------------------------- */

/* Form Container */
#lock {
overflow:hidden;
width:325px;
float: left;
}

/* Form */
#lock form {
border:1px solid #D9D9D9;
background-color:#FFF;
overflow:hidden;
padding-top: 5px;
}

/* Form header */
#lock .login_header {
background-color:#1A1A1A;
padding:19px 0 0 10px;
height: 20px;
}
#lock .login_header b {
color:#FFF;
}

/* Fields */
#lock form input.field {
width:203px;
padding:5px;
color: #333;
font: 12px Arial, Helvetica, sans-serif;
border: 1px solid #D9D9D9;
}

/* Checkbox */
#lock form .checkbox {
overflow:hidden;
line-height:14px;
}

#lock form .checkbox input {
float:left;
margin:0 5px 0 0;
padding:0;
}

/* Spacing & Alignment */
#lock form input.field {
margin:15px 0 0;
}

#lock form .checkbox {
margin:10px 0 15px;
}

#lock form .login_field {
text-align:right;
padding-right:15px;
}

#lock form .checkbox {
margin-left:95px;
}

/* Submit button */
.subButton {
width:100%;
border-top:1px solid #D9D9D9;
overflow:hidden;
}

.subButton a {
float:right;
background-color:#666;
width:100px;
display:block;
color:#FFF;
-moz-border-radius:2px;
-webkit-border-radius:2px;
margin:10px;
padding:14px 0 7px 10px;
}

.subButton a:hover {
background-color:#1A1A1A;
}

/* Login Info */
.login_info {
overflow: hidden;
position: relative;
top: 60px;
left: 20px; 
line-height: 59px;
}

.login_info span.error {
float: left;
}

.login_info span.text {
margin: 0 0 0 10px;
}

.showSwitch {
display:block;
}

.hideSwitch {
display:none;
}

/* @end */

/* @group Buttons */

/* -------------------------------------------------------------- 
   BUTTONS
-------------------------------------------------------------- */
.button,.task,.inactiveButton {
display:inline-block;
float:left;
border-style:solid;
border-width:1px;
margin:0 5px 1px 0;
padding:4px 21px 3px 20px;
}

.task A:Hover {
text-decoration:none;
}

/* @end */

/* -------------------------------------------------------------- 
MODULE SPACING
-------------------------------------------------------------- */
#content {
margin:15px 0;
}

/* Sets styles only for direct childs of #content (i.e gallery, features, listing) */
#content > * {
margin:0 0 15px;
}

#inline_picture {
padding-bottom:10px;
}

#file_listing {
padding:5px 0 10px;
}

#document {
padding:0px 0 5px;
}

#description {
padding:5px 0 0;
}

.text_block {
margin-bottom:30px;
}

/* ------------- FLOAT AND CLEAR MISC ------------------------------------- */

.clear {
clear:both;
}

.floater {
float:left;
}