/* -------------------------------------------------------------- 

main.css
* Subfolio by AREA 17

-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

body {
color:#777;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#FFF;
background-repeat:repeat-x;
min-width:550px;
}

/* @group Global layout */

/* -------------------------------------------------------------- 
POSITIONING WITH FOOTER AT BOTTOM
-------------------------------------------------------------- */

html {
height:100%;
}

body {
height:100%;
margin: 0 15px 0;
}

#container{
position:relative;
min-height:100%;
}

#container-inner{
padding-bottom:40px;
}

#logo{
padding-top: 15px;
}

#footer{
position:absolute;
bottom:0;
}

* html {
width:95%;
}

* html body {
width:96%;
}

* html body #container {
width:96%;
}

/* @end */

/* @group Text */

/* -------------------------------------------------------------- 
   TEXT
-------------------------------------------------------------- */
p, h1, h2, pre, .copy, .bigFont {
color:#333333;
font-family:sans-serif;
font-size:13px;
font-weight:normal;
line-height:15px;
max-width:50em;
}

p {
margin:1em 0 0.5em;
}

h1,.bigFont {
font-size:2.1em;
font-family:Georgia;
line-height:1.2em;
max-width:36em;
}

h1 {
margin:0.25em 0 0.7em;
padding:0;
}

h2 {
text-transform:uppercase;
margin:2em 0 0;
}

h1, h2 {
color: #1C7AD5;
} 

em,strong {
font-style:normal;
color:#1a1a1a;
margin-bottom: 20px;
}

strong {
font-weight:bold;
}

em {
background-color:#F7FFB9;
}

.small {
font-size:10px;
color:#777;
}

.error {
color:#FF0000;
}

.faded {
color:#BBB;
}

.content {
line-height:15px;
}

.bottom_margin {
margin-bottom:5px;
}

.copyright {
margin-top:5px;
}

.huge {
font-size:500%;
}

h3 {
font-family: "Arial Rounded MT Bold", Arial;
}

h4 {
font-family: "Arial Rounded MT Bold", Arial;
color: #1e1c1c;
padding-bottom: 0.83333333em;
}

h5  {
font-family: "Arial Rounded MT Bold", Arial;
padding-bottom: 0.41666667em;
}

small {
display: block;
padding-bottom: 1.36363637em;
color: #939599;
}

blockquote {
display: block;	
padding-left: 1em;
margin-top: .1em;
padding-top: .1em;
padding-bottom: .3em;
margin-bottom: 2em;
border-left: 1px solid #e0e1e2;
}

blockquote p {
font: normal normal 2em/25px Georgia, "Times New Roman", Times, serif;
color: #939599;
padding-bottom: 0em;
}


/* @end */

/* @group Links */

/* -------------------------------------------------------------- 
   LINKS
-------------------------------------------------------------- */
a,a:link,a:visited {
color:#1a1a1a;
text-decoration:none;
}

a:hover {
color:#1C7AD5;
}

h1 a,h1 a:link,h1 a:visited {
color:#1C7AD5;
text-decoration:underline;
}

#header h1 a img {
border:none;
}

/* LINKS FOR GENERAL CONTENT */
#content a {
text-decoration:underline;
}

/* LINKS FOR GALLERY, FEATURES MODULES */
#gallery a, #features a, #lock a {
text-decoration:none;
}

/* @end */

/* @group Global modules */

/* -------------------------------------------------------------- 
   MODULES: FLASH, HEADER, LOGO, BREADCRUMBTOOLS, NAVIGATION, FOOTER
-------------------------------------------------------------- */
#flash {
margin: 10px 0 0;
}

/* LOGO */
.logo {
margin:0;
}

/* BREADCRUMBTOOLS, NAVIGATION, FOOTER: Common */
#breadcrumbtools,#footer,#navigation {
overflow:hidden;
line-height:35px;
width:100%;
}

#breadcrumbtools a,#footer a,#navigation a {
padding:13px 0;
}
#breadcrumbtools a:hover,#footer a:hover,#navigation a:hover {
background-color: yellow;
}

.nav_sep {
border-left:1px solid #D9D9D9;
padding:12px 0;
}

/* BREADCRUMBTOOLS */
#breadcrumbtools,#navigation {
border-bottom:1px solid #D9D9D9;
}

/* BREADCRUMBTOOLS: Breadcrumb */
#breadcrumb {
float: left;
}

/* BREADCRUMBTOOLS: Tools */
#tools {
text-align:right;
}

#tools a {
padding-left:10px;
padding-right:10px;
}
#tools a:hover {
background-color: yellow;
}

a#showHideSwitch {
padding-right:0;
}

/* NAVIGATION */
div#navigation {
overflow:hidden;
}

span.parent_dir {
display:block;
width:35%;
float:left;
}

span.parent_dir a span.name {
padding:12px 0 13px;
}

span.parent_dir a span.fileicon {
padding-bottom:10px;
}

.parent_arrow {
display:block;
float:left;
width:18px;
height:17px;
text-indent:-2000px;
background:url("../images/system/parent.png") no-repeat;
margin:8px 8px 0 0;
}

a:hover .parent_arrow {
background-position:0 -50px;
}

/* NAVIGATION IE6 Fixes */
* html .parent_dir a span.fileicon {
padding:0px;
}

* html .parent_arrow {
margin:11px 0 -20px;
padding:0;
}

/* FOOTER */
#footer {
border-top:1px solid #D9D9D9;
color:#000;
}

#footer .nav_sep {
margin:0 10px;
}

#footer .update_toggle {
padding-left:5px;
padding-right:5px;
}

#footer span.update_toggle {
color:#666;
}

#footer .footer_sep {
background-repeat: no-repeat;
display: inline-block;
width: 5px;
height: 5px;
background-image: url(../images/system/dot.png);
color:#999;
font-size:16px;
text-indent: -2000px;
background-color: yellow;
}

/* @end */

/* @group Content */

/* -------------------------------------------------------------- 
   MODULES: CONTENT
-------------------------------------------------------------- */
#content {
overflow:hidden;
}

/* @end */

/* @group Gallery */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / GALLERY
-------------------------------------------------------------- */
#gallery {
overflow:hidden;
}

#gallery ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
}

#gallery ul li {
float:left;
overflow:hidden;
}

#gallery ul li a {
float:left;
background-color:#e5e5e5;
margin:0 1px 1px 0;
padding:1px;
}

#gallery ul li a div.gallery_thumbnail {
background-color: white;
	text-align: center;
}
#gallery ul li a span.hcenterer {
height: 240px;
width: 10px;
}
#gallery ul li a div.vcenterer {
display: table-cell;
vertical-align: middle;
min-width: 100px;
height:240px;

width: 100px;
}
div[id=gallery] ul li a div.gallery_thumbnail {
height:240px;
} /** not for IE6 **/
 
#gallery ul li a img {
border:none;
overflow:hidden;

}

#gallery ul li a:hover,#gallery ul li a:hover p {
background:#1C7AD5;
color:#fff;
}

#gallery ul li a p {
margin:0;
padding:9px 5px 5px 7px;
}

* html #gallery {
clear:left;
}

/* @end */

/* @group Features */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / FEATURES
-------------------------------------------------------------- */
#features {
overflow:hidden;
}

#features ul {
list-style:none;
margin:0;
padding:0;
overflow:hidden;
}

#features ul li {
float:left;
}

#features ul li a {
display:block;
overflow:hidden;
padding:0 160px 0 0;
}

#features ul li a .image {
position:relative;
float:left;}

#features ul li a .image img {
border:2px solid #fff;
}

#features ul li a .info {
width:160px;
position:relative;
float:left;
margin-right:-160px;
padding:0;
}

#features ul li a .info h2 {
color:#1a1a1a;
font-weight:700;
text-transform:none;
text-decoration:underline;
margin:0;
padding:10px 10px 8px;
}

#features ul li a .info p {
margin:0;
padding:0 10px 10px;
}

#features ul li a:hover {
background-color:#E0E0E0;
}

#features ul li a:hover .image img {
border:2px solid #1C7AD5;
}

#features ul li a:hover .info h2 {
color:#1C7AD5;
}

* html #features {
clear:left;
}

* html #features ul li a .info {
position:absolute;
}

/* @end */

/* @group Listing : grid */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING GRID VIEW
-------------------------------------------------------------- */
#listing ul {
list-style:none;
max-width:none;
overflow:hidden;
font-size:12px;
margin:0;
padding:0;
}

#listing ul li {
float:left;
width:179px;
height:104px;
text-align:center;
overflow:hidden;
margin: 0 1px 1px 0;
}

#listing ul li a {
text-decoration:none;
display:block;
width:100%;
height:100%;
background-color:#f0f0f0;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

#listing ul li a:hover {
background-color:#ccc;
cursor:pointer;
}

#listing ul li .listing-content {
position: relative;
}

#listing ul li .listing-content .listing-content-left {
display:block;
min-height: 75px;
}

#listing ul li .listing-content .listing-content-right {
display:block;
}

#listing ul li .listing-content span {
display:block;
}

#listing ul li span.filename {
max-height:1.2em;
overflow: hidden; /* Crop the text if longer */
}

#listing ul li span.size,#listing ul li span.datekind {
display:none;
}

#listing ul li span.comment {
color:#aaa;
}

/* @end */

/* @group Listing : icons */

/* -------------------------------------------------------------- 
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */

#listing ul li .icon {
height: 60px;
}

#listing ul li .icon span {
position: absolute;
}

#listing ul li .icon img {
position: absolute;
top: 20px;
left: 73px;
}

#listing ul li .icon_download {
background-repeat:no-repeat;
width:5px;
height:17px;
float:left;
top: 35px;
left: 65px;
background-image:url("../images/system/download.png");
}

#listing ul li .icon_download.blank {
background:none;
}

#listing ul li .updated {
position:absolute;
display:block;
width:9px;
height:9px;
z-index:99;
background:url("../images/system/updated.png") no-repeat top left;
top: 22px;
left: 100px;
}

#listing ul li.locked,#listing ul li .unlocked {
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat top left;
top: 29px;
left: 77px;
}

#listing ul li .locked {
background-position:top;
}

#listing ul li .unlocked {
background-position:0 -50px;
}

* html #listing ul li .icon img {

}

* html #listing ul li .icon .icon_download {
}

/* @end */


/* MISC: to sort!!! */
.top_message {
padding:2px 0 3px;
}

.list, .unspaced_list {
clear:both;
}
.list:HOVER {
background-color:#e5e5e5;
}
.file_edit, .fileicon, .legend_img, .legend_txt {
float:left;
}

.legend_txt {
vertical-align:text-top;
}

.newsletter_text {
color:#F5F5F5;
font-weight:700;
padding:0 0 5px;
}

/* @group Related */

/* -------------------------------------------------------------- 
   MODULE: RELATED
-------------------------------------------------------------- */

#related ul {
width:100%;
overflow:hidden;
font-size:12px;
padding:0;}

#related ul li {
margin:0;
}

#related ul li {
list-style:none;
}

#related ul li a {
display:block;
text-decoration:none;
color:#777;
margin-bottom:1px;
padding:1px 0;
}

#related ul li a:hover {
color:#1A1A1A;
background-color:#eee;
cursor:pointer;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

#related ul li .listing-content {
min-width:550px;
min-height:16px;
overflow:hidden;
}

#related ul li .listing-content span {
display:block;
}

#related ul li .listing-content-left-inner {
overflow: hidden;
padding-left:35px;
padding-right:65px;
}

#related ul li .listing-content-left-inner .column {
position:relative;
float:left;
}

#related ul li .icon {
width:35px;
margin-right:-100%;
right:35px;
height:17px;
}

#related ul li .name, .filename {
width:100%;
}

#related ul li .filename {
color:#1A1A1A; 
padding:2px 0 0;
}

#related ul li .icon_download {
background-repeat:no-repeat;
width:5px;
height:17px;
float:left;
margin-left:4px;
margin-right:1px;
background-image:url("../images/system/download.png");
}

#related ul li .icon_download.blank {
background:none;
}

* html #related ul li .icon img {
margin-left:10px;
}

* html #related ul li .icon .icon_download {
position:absolute;
}

#related ul li .updated {
position:absolute;
display:block;
width:9px;
height:9px;
z-index:99;
background:url("../images/system/updated.png") no-repeat top left;
margin:0 0 0 22px;
}

#related ul li .locked,#related ul li .unlocked {
position:absolute;
display:block;
width:10px;
height:9px;
z-index:98;
background:url("../images/system/lock.png") no-repeat top left;
margin:5px 0 0 13px;
}

#related ul li .locked {
background-position:top;}

#related ul li .unlocked {
background-position:0 -50px;
}

/* @end */

/* @group Forms */

/* -------------------------------------------------------------- 
   FORMS
-------------------------------------------------------------- */

/* Form Container */
#lock {
overflow:hidden;
width:325px;
float: left;
}

/* Form */
#lock form {
border:1px solid #D9D9D9;
background-color:#FFF;
overflow:hidden;
}

/* Form header */
#lock .login_header {
background-color:#1A1A1A;
color:#FFF;
padding:15px 0 7px 10px;
}

#lock .login_header img {
position:relative;
margin: 0 7px 0 0;
top: 1px;
}

/* Fields */
#lock form input.field {
width:203px;
padding:2px;
}

/* Checkbox */
#lock form .checkbox {
overflow:hidden;
line-height:14px;
}

#lock form .checkbox input {
float:left;
margin:0 5px 0 0;
padding:0;
}

/* Spacing & Alignment */
#lock form input.field {
margin:15px 0 0;
}

#lock form .checkbox {
margin:10px 0 15px;
}

#lock form .login_field {
text-align:right;
padding-right:15px;
}

#lock form .checkbox {
margin-left:95px;
}

/* Submit button */
.subButton {
width:100%;
background-color:#eee;
border-top:1px solid #D9D9D9;
overflow:hidden;
}

.subButton a {
float:right;
background-color:#666;
width:100px;
display:block;
color:#FFF;
-moz-border-radius:2px;
-webkit-border-radius:2px;
margin:10px;
padding:10px 0 5px 7px;
}

.subButton a:hover {
background-color:#000;
}

/* Login Info */
.login_info {
overflow: hidden;
position: relative;
top: 60px;
left: 20px; 
line-height: 59px;
}

.login_info span.error {
float: left;
}

.login_info span.text {
color:#333;
font-weight:bold;
margin: 0 0 0 10px;
}

.showSwitch {
display:block;
}

.hideSwitch {
display:none;
}

/* @end */

/* @group Buttons */

/* -------------------------------------------------------------- 
   BUTTONS
-------------------------------------------------------------- */
.button,.task,.inactiveButton {
display:inline-block;
float:left;
border-style:solid;
border-width:1px;
margin:0 5px 1px 0;
padding:4px 21px 3px 20px;
}

.task A:Hover {
text-decoration:none;
}

/* @end */

/* -------------------------------------------------------------- 
MODULE SPACING
-------------------------------------------------------------- */
#content {
margin:15px 0;
}

/* Sets styles only for direct childs of #content (i.e gallery, features, listing) */
#content > * {
margin:0 0 15px;
}


#lock {
padding:7px 0 0;
}

#inline_picture {
padding-bottom:10px;
}

#file_listing {
padding:5px 0 10px;
}

#document {
padding:0px 0 5px;
}

#description {
padding:5px 0 0;
}

.text_block {
margin-bottom:30px;
}

/* ------------- FLOAT AND CLEAR MISC ------------------------------------- */

.clear {
clear:both;
}

.floater {
float:left;
}