/* -------------------------------------------------------------- 

iphone.css (based on main.css)
* Subfolio by AREA 17

-------------------------------------------------------------- */

/* BODY 
-------------------------------------------------------------- */
body  {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	/* Resetting the original min-width from main.css */
	margin: 0;
	overflow-x: hidden;
	padding: 10px;
}

/* Resetting FONTS for all modules when needed
-------------------------------------------------------------- */
#breadcrumbtools *, #navigation *, #footer *, #features *, #listing *, #related * {
	font-size: 22px !important;
}

/*Hidding "index of"*/
#breadcrumbtools span:first-child {
	display: none;
}

#breadcrumbtools a, #breadcrumbtools span, #footer a, #navigation a, #navigation .prev_next span, #footer a, #footer span {
	height: 35px; 
}

/* Turning off some elements (for test purpose, to be confirmed) */
#footer span:nth-child(2){
	display: none;
}

/* Resetting PADDING for all modules when needed
-------------------------------------------------------------- */
body > #container > #container-inner > #breadcrumbtools,
body > #container > #container-inner > #content > * {
	padding-left: 5px;
	padding-right: 5px;
}

body > #container > #container-inner > #content > #listing, 
body > #container > #container-inner > #content > #related {
	padding-left: 0;
	padding-right: 0;
}

body > #container > #container-inner > #content > #listing > *:not(.list),
body > #container > #container-inner > #content > #related > *:not(.list) {
	padding-left: 5px;
	padding-right: 5px;
}

#footer a#footer-home {
	padding-left: 5px;
}


/*iPhone previous / next navigation
-------------------------------------------------------------- */

span.parent_dir { width:90px; }
#navigation .parent_dir a {
	text-indent: -9000px;
	width: 90px;
	height: 70px;
	background: url(../images/iphone/parent.png) no-repeat 30px 20px;
	padding: 0;
	border-right: 1px solid #e0e0e0;
}
#navigation .parent_dir a:hover { background-position: 30px 20px; }

#navigation span.prev_next a, #navigation span.prev_next .faded { 
	text-indent: -9000px;
	height: 70px;
	width: 70px;
	background: url(../images/iphone/next.png) no-repeat 20px 20px;
	padding: 0;
	border-right: 1px solid #e0e0e0;
}
#navigation #previous { background-image: url(../images/iphone/previous.png); }
#navigation #next { background-image: url(../images/iphone/next.png); }
#navigation span.prev_next .faded {
	opacity: .2;
}


/* iPhone LIST VIEW for LISTING module
-------------------------------------------------------------- */
.list {
	min-width: 200px !important; 
}

	.list > li {
		padding: 8px 0 8px 5px !important;
		position: relative !important ;
		overflow: hidden !important;
		margin: 0 !important;
		border-top: 2px solid #FFF;
		background-color: #f5f5f5;
	}
	
	.list > li:last-child {
		border-bottom: 1px solid #E0E0E0;
	}

	.list > li:hover {
		cursor: pointer;
		
	}
	
	#listing .list > li > a {
		min-height: 31px;
	}
	
	
	.list > li:not(.listing-header) > a {
		display: block !important;
		-moz-background-clip: border !important;
		-moz-background-inline-policy: continuous !important;
		-moz-background-origin: padding !important;
		background: transparent url(../images/system/iphone/listArrow.png) no-repeat scroll right center !important;
	}
		
	.list > li:not(.listing-header) span {
		line-height: 31px;
	}
		
	.list .icon {
		width: 43px;
		background-repeat: no-repeat;
		height: 32px;
	}
	.list .icon img { display: none; }
	.list .filename {
		font-weight: normal;
		width: 410px;
	}
	
	.list .size, .list .date, .list .kind, .list .comment {
		color: #777;
		display: none !important;
	}
	
	.list .updated, .list .new {
		top: 2px;
		left: 26px;
		width:11px;
		height:11px;
		background:url("../images/system/updated_xl.png") no-repeat top left;
	}

	.list .locked, .list .unlocked {
		top: 10px;
		left: 4px;
	}
	
/*Need to reset the submit button*/
.subButton input {
	float: right;
	background-color:#666;
	color:#FFF;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding:3px 0 0px 7px;
	border:0 none;
	cursor:pointer;
	text-align: center;
	width: 100px;
	height: 20px;
}
