/* @group Gallery */
/* --------------------------------------------------------------
   MODULES: CONTENT / GALLERY
-------------------------------------------------------------- */

$inner_padding:20px;

#gallery { display: inline-block; position: relative; }

#gallery {
  ul {
    list-style: none;
    margin: 0;
    padding: 0 1px 1px 0;
    overflow: hidden;
  }

  ul li {
    float: left;

    a {
      display: block;
      margin: 0 -1px -1px 0;
      padding: $inner_padding;
      border-width:1px;
      background:white;

      p { color: inherit; }

      div.gallery_thumbnail {
        min-height:240px;
        display:table;
        background-color: white;
      }

      div.gallery__inner {
        display:table-cell;
        vertical-align:middle;
      }

      div.custom { height: auto; }

      img {
        border:none;
        overflow:hidden;
        display:block;
        max-width:100%;
        height:auto;
      }
    }

    a:hover p {
      cursor: pointer;
      color: #fff;
    }
    a p {
      text-align:center;
      margin: 0;
      padding: 10px 0 0;
      @include ellipsis();
    }
  }
}

/* @end */