/* @group List */

/* --------------------------------------------------------------
   MODULES: CONTENT / LISTING LIST VIEW
-------------------------------------------------------------- */

$height_list: 50px;

#listing {
  width: 100%;
  overflow: hidden;
}

.list {
  width: 100%;
  min-width: 510px; /* We set the min-width of the listing to match the kind column */
  position: relative;
  display:table;
  border-bottom-width:1px;
  border-bottom-color:$color-border-light;

  li,
  .list__row {
    overflow: hidden; /* clears the left float applied on li span elements - all browsers except IE6 and below */
    margin: 0;
    display:table-row;
  }

  .list__cell {
    border-top-width:1px;
    border-top-color:$color-border-light;
    height: $height_list;
    line-height:$height_list;
    display:table-cell;
    padding-right:20px;
    overflow:hidden;
    @include ellipsis();
  }

  .list__header .list__cell {
    border-top-width:0;
    display:table-cell;
  }

  li a {
    display:block;
    overflow: hidden;
    width: 100%;
    position: relative;
    color: inherit;
  }
  li a:hover {
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #eee;
  }

  a.list__row--empty {
    cursor:default;
  }

  li.listing-header {
    margin: 0;
  }
}


.isIphone .list li span { background-image: none !important;}
.list {
  span.caps {
    display: inline;
    float: none;
  }
  span strong {
    color: inherit;
  }
  .list__cell--icon {
    width: 1px;
    position: relative;
    vertical-align: middle;

    img {
      display:block;
    }
  }
  .list__cell--filename {
    width:20%;
    position: relative;
    padding-right: 20px !important;
  }

  .list__cell--filename:before { /*content: '— ';*/ } /* << If you remove the icons and want to show the link s*/

  .list__cell--size {
    min-width: 65px;
  }
  .list__cell--date {
    min-width: 90px;
  }
  .list__cell--kind {
    min-width: 130px;
  }
  .list__cell--comment {
    /*position: absolute;*/ /* turning it absolute so that it sticks inline, preventing it to float on browser resizing */
    /*left: 510px;*/ /* setting its left equals the sum of the widths of previous columns */
    top: 0;
  }

  @include breakpoint(medium-and-down) {
    .list__cell--kind,
    .list__cell--comment,
    .list__header .list__cell--kind,
    .list__header .list__cell--comment {
      display: none;
    }
  }

  @include breakpoint(small) {
    .list__cell--size,
    .list__cell--date,
    .list__header .list__cell--size,
    .list__header .list__cell--date {
      display: none;
    }

    .list__cell--filename {
      width:95%;
    }
  }
}





/* --------------------------------------------------------------
   MODULES: CONTENT / LISTING ICONS
-------------------------------------------------------------- */
* html .list .icon .icon_download { position:absolute; }

.list .updated, .list .new {
  position:absolute;
  top: 50%;
  left: 12px;
  line-height:1em;
  display: block;
  width: 9px;
  height: 9px;
  z-index: 99;
  background: url("../images/system/updated24.png") no-repeat top left;
}
.list .new {
  background: url("../images/system/new.png") no-repeat top left;
}

.list .locked, .list .unlocked {
  position: absolute;
  top: 50%;
  left: 3px;
  display: block;
  width: 12px;
  height: 8px;
  z-index: 98;
  background: url("../images/icons/list/lock.png") no-repeat top left;
}
.list .locked { background-position: top; }
.list .unlocked { background-position: 0 -50px; }

  /* @end */